body{
    background-color: #ff9;
}

#contenedor{
    position: relative;
    width: 600px;
    height: 400px;
    background: rgb(245, 245, 3);
    border: 1px solid black;
}

h1{
    font-family: sans-serif;
    position: absolute;
    right: 10px;
    bottom: 0px;
    font-size: 16px;
    color: black;
}

.circulo{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.azul{
    background-color: blue;
    top: 80px;
    left: 130px;
    z-index: 3;
}

.rojo{
    background-color: red;
    top: 80px;
    left: 190px;
    z-index: 2;
}

.verde{
    background-color: green;
    top: 80px;
    left: 240px;
    z-index: 1;
}